<!-- <ul>
  <li *ngFor="let tempProductCategory of productCategories">
    <a
      routerLink="/category/{{ tempProductCategory.id }}"
      routerLinkActive="active-link"
      >{{ tempProductCategory.categoryName }}</a
    >
  </li>
</ul> -->

<ol class="list-unstyled mb-0">
  <li *ngFor="let tempProductCategory of productCategories">
    <a
      routerLink="/category/{{ tempProductCategory.id }}"
      routerLinkActive="active-link"
      >{{ tempProductCategory.categoryName }}</a
    >
  </li>
</ol>
